.row.row-offcanvas.row-offcanvas-right
    .col-xs-12.col-sm-12
    .jumbotron
        h1 高家溫溼度監控中心(alpha)
            p
                | This is an alpha version for TH-Sensor
            hr
    h2.col-md-4.col-sm-12
        | 最後更新溫度:
        div(id='temp')
    h2.col-md-4.col-sm-12
        | 最後更新濕度:
        div(id='humi')
    h2.col-md-4.col-sm-12
        | 最後更新時間:
        div(id='finalTime')
    .col-md-12.col-sm-12(id='tempChart', class='chart')