html
  head
    meta(charset='utf-8')
    title dashboard
  body
    #result
    script(src='/js/xhr.js')
    script.
      sendXhrRequest('/selectTH', '', 'GET', function(result){
      document.getElementById('result').innerHTML=result;
      });
